<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <h1>This is the INDEX Page</h1><br><br><br>
    <form action="create/">
        <input type="submit" value="Create Person"/>
    </form><br><br>
    <form action="db/list/">
        <button>View Full List</button>
    </form><br><br>
    <form action="db/query_by_name/" method="POST">
        {% csrf_token %}
        <input type="text" name="name">
        <input type="submit" value="query by name">
    </form><br>
    <form action="db/query_by_age/" method="POST">
        {% csrf_token %}
        <input type="number" name="age">
        <input type="submit" value="query by age">
    </form><br>
    <form action="db/query_by_id/" method="POST">
        {% csrf_token %}
        <input type="number" name="id">
        <input type="submit" value="query by ID">
    </form>

</body>
</html>